::-webkit-scrollbar {
  width: 7px;
  
  &-track {
    background: rgba($scroll__bar-track-color, 0.1);
  }
  
  &-thumb {
    background: rgba($scroll__bar-thumb-color, 0.2);
    transition: background 0.3s ease;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

// show scrollbar on hover
*:hover {
  &::-webkit-scrollbar-track {
    background: rgba($scroll__bar-track-color, 0.5); // Semi-transparent light gray
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgba($scroll__bar-thumb-color, 0.4); // Semi-transparent gray
    
    &:hover {
      background: rgba($scroll__bar-thumb-color, 0.8); // More opaque dark gray on thumb hover
    }
  }
}